body {
    background: #0A102D;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  #top {
    display: flex;
    width: 100%;
  }
  
  #top #searchBox {
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: center;
    margin: 300px 0 0 auto;
  }
  
  #searchBox .searchBar {
    width: 100%;
    position: relative;
  }
  
  #searchBox .searchBar #search {
    width: 100%;
    height: 100px;
    border-radius: 67px;
    border: 0;
    opacity: 0.5;
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #fff;
    background-color: #848796;
    padding-left: 90px;
    box-sizing: border-box;
  }
  
  #searchBox .searchBar .lupa {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  #searchBox .searchBar .search {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  #searchBox .searchComment {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin-top: 15px;
  }
  
  #middle {
    display: flex;
    padding-top: 150px;
    align-items: center;
  
    & > * {
      width: 50%;
    }
  
    #category-filter {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      z-index: 999;
  
      .category-item {
        border-radius: 4px;
        border: 1px solid #749BFF;
        opacity: 1;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        color: #749BFF;
  
        .category-radio {
          display: none;
        }
  
        label {
          display: flex;
          height: 100%;
          padding: 2px 10px;
          cursor: pointer;
        }
  
        &:has(input[type="radio"]:checked) {
          box-shadow: 0px 0px 19px 0px #9EB9FF78;
          background: #749BFF;
          color: #0A102D;
        }
      }
    }
  
    h2 {
      font-size: 38px;
      font-weight: 400;
      text-align: left;
      color: #fff;
      text-transform: uppercase;
    }
  }
  
  #buttom {
    padding-top: 100px;
    display: flex;
  
    #results {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      position: relative;
  
      .cve-card {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 500px;
        min-height: 400px;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        padding: 80px 40px;
        color: #fff;
        align-items: baseline;
        gap: 40px;
        box-sizing: border-box;
  
        &:nth-child(odd) {
          margin-top: 100px;
        }
  
        .score {
          display: flex;
          align-items: baseline;
          gap: 15px;
  
          .name {
            font-size: 40px;
            font-weight: 400;
            text-align: left;
          }
  
          .number {
            font-size: 24px;
            font-weight: 400;
            text-align: left;
          }
        }
  
        .ProgressBar {
          width: 100%;
          height: 14px;
          border-radius: 34px;
          background: #3B1B3B;
  
          .score {
            width: 100%;
            height: 100%;
            border-radius: 34px;
            background: linear-gradient(270deg, #FF4773 0%, rgba(171, 66, 91, 0) 100%);
          }
        }
  
        .date {
          font-size: 16px;
          font-weight: 500;
          text-align: left;
        }
  
        .titleDesc {
          display: flex;
          flex-direction: column;
          gap: 15px;
  
          .title {
            font-size: 24px;
            font-weight: 600;
            text-align: left;
          }
  
          .desc {
            font-size: 16px;
            font-weight: 400;
            text-align: left;
          }
        }
      }
  
      .showMoreBox {
        background: linear-gradient(0.94deg, #0A102D 21.75%, rgba(10, 16, 45, 0) 100%);
        height: 500px;
        position: absolute;
        bottom: 0;
        width: 100%;
  
        .showMore {
          padding: 10px 30px;
          border-radius: 55px;
          border: 0;
          background: #FF4773;
          box-shadow: 0px 2px 30px 0px #FF4773BF;
          color: #080D25;
          font-size: 18px;
          font-weight: 500;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  